Repository boostcampwm2023/web17_morak, pull requests merged in 2023-12, with the labels that each got.

#258 [Test] member 컨트롤러 테스트 코드 작성
  app/backend/src/member/member.controller.spec.ts
  app/backend/src/member/member.controller.ts
Labels: 💻 Back-end, Test

#260 [Feat] 맵 모달 추가
  app/frontend/index.html
  app/frontend/src/components/Input/index.tsx
  app/frontend/src/components/Modal/MapModal.css.ts
  app/frontend/src/components/Modal/MapModal.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/types/global.d.ts
Labels: 🚀 feat, 🎨 Front-end

#251 [Design] 글 작성/수정 페이지 그룹 예외 사항 처리
  app/frontend/src/pages/MogacoPost/Controller/PostGroupId.tsx
  app/frontend/src/pages/MogacoPost/Controller/group.css.ts
Labels: 🎨 Front-end, 💄 design

#259 [Feat] 지도 마커 클릭 이벤트 추가, 현 위치 렌더링
  app/frontend/index.html
  app/frontend/public/assets/icons/pin.svg
  app/frontend/src/components/Header/index.css.ts
  app/frontend/src/components/Map/Marker.tsx
  app/frontend/src/components/Map/index.css.ts
  app/frontend/src/components/Map/index.tsx
  app/frontend/src/components/Sidebar/index.css.ts
  app/frontend/src/constants/Map.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/pages/Map/index.tsx
  app/frontend/src/queries/hooks/post.ts
  app/frontend/src/services/mogaco.ts
  app/frontend/src/types/global.d.ts
  packages/apitype/dto/response/mogaco.ts
Labels: 🚀 feat, 🎨 Front-end

#256 [Feat] 폼 작성 시 장소 API를 통해 입력
  app/frontend/src/components/Button/index.tsx
  app/frontend/src/components/Input/index.tsx
  app/frontend/src/components/Modal/MapModal.css.ts
  app/frontend/src/components/Modal/MapModal.tsx
  app/frontend/src/constants/env.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
  app/frontend/src/queries/index.ts
  app/frontend/src/queries/tmap.ts
  app/frontend/src/services/index.ts
  app/frontend/src/services/tmap.ts
  app/frontend/src/types/index.ts
  app/frontend/src/types/tmap.ts
Labels: 🚀 feat, 🎨 Front-end

#270 [Feat] 그룹 생성 기능 구현
  app/backend/src/groups/dto/create-groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
Labels: 🚀 feat, 💻 Back-end

#268 [Refactor] 서비스 API 리팩토링 #1
  app/backend/src/app.module.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.module.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.module.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/member/member.module.ts
  app/backend/src/mogaco-boards/dto/create-mogaco.dto.ts
  app/backend/src/mogaco-boards/dto/response-mogaco.dto.ts
  app/backend/src/mogaco-boards/dto/response-participants.dto.ts
  app/backend/src/mogaco-boards/enum/mogaco-status.enum.ts
  app/backend/src/mogaco-boards/mogaco-boards.controller.ts
  app/backend/src/mogaco-boards/mogaco-boards.module.ts
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
  app/backend/src/mogaco-boards/mogaco-boards.service.ts
  app/backend/src/mogaco-boards/pipes/mogaco-status-validation.pipe.ts
Labels: ✨ enhancement, 💻 Back-end

#265 [Feat] 글 POST 요청 시 위도 경도 추가
  app/frontend/src/components/Modal/MapModal/index.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
Labels: 🚀 feat, 🎨 Front-end

#276 [Merge] merge feature/map-in-form into develop
  app/frontend/src/components/Button/index.tsx
  app/frontend/src/components/Input/index.tsx
  app/frontend/src/components/Map/Marker.tsx
  app/frontend/src/components/Modal/MapModal/index.css.ts
  app/frontend/src/components/Modal/MapModal/index.tsx
  app/frontend/src/components/Modal/MapModal/useMap.ts
  app/frontend/src/components/index.ts
  app/frontend/src/constants/env.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
  app/frontend/src/queries/index.ts
  app/frontend/src/queries/tmap.ts
  app/frontend/src/services/index.ts
  app/frontend/src/services/tmap.ts
  app/frontend/src/types/global.d.ts
  app/frontend/src/types/index.ts
  app/frontend/src/types/tmap.ts
Labels: 🎨 Front-end

#275 [Test] Member API Unit Test, path alios 설정
  app/backend/package.json
  app/backend/src/member/member.controller.spec.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/member/member.service.spec.ts
  app/backend/src/member/member.service.ts
  package-lock.json
Labels: 💻 Back-end, Test

#279 [Chore] 맵 모달 줌 컨트롤 바 숨김 처리
  app/frontend/src/components/Modal/MapModal/useMap.ts
  app/frontend/src/types/global.d.ts
Labels: 🚀 feat, 🎨 Front-end

#290 [Feat] 그룹 컴포넌트 추가
  app/frontend/public/assets/icons/copy.svg
  app/frontend/public/assets/icons/crown.svg
  app/frontend/src/components/Group/index.css.ts
  app/frontend/src/components/Group/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/pages/Groups/index.css.ts
  app/frontend/src/pages/Groups/index.tsx
  app/frontend/src/styles/reset.css.ts
Labels: 🚀 feat, 🎨 Front-end, 💄 design

#291 [Modify] 그룹 페이지 API fetch 하여 보여 주기
  app/frontend/src/pages/Groups/index.css.ts
  app/frontend/src/pages/Groups/index.tsx
  app/frontend/src/queries/group.ts
  app/frontend/src/services/group.ts
Labels: 🚀 feat, 🎨 Front-end

#277 [Modify] 장소 선택 시 지도에서 장소를 직접 선택할 수 있는 기능 추가
  app/frontend/src/components/Map/Marker.tsx
  app/frontend/src/components/Map/index.tsx
  app/frontend/src/components/Modal/MapModal/index.tsx
  app/frontend/src/components/Modal/MapModal/useMap.ts
  app/frontend/src/queries/tmap.ts
  app/frontend/src/services/tmap.ts
  app/frontend/src/types/global.d.ts
  app/frontend/src/types/tmap.ts
Labels: 🚀 feat, 🎨 Front-end

#295 [Test] Groups API 단위 테스트
  app/backend/package.json
  app/backend/src/groups/groups.controller.spec.ts
  app/backend/src/groups/groups.repository.spec.ts
  app/backend/src/groups/groups.service.spec.ts
  app/backend/src/member/member.controller.spec.ts
  app/backend/src/member/member.service.spec.ts
Labels: 💻 Back-end, ✅ Test

#273 [Feat] 채팅 기능 및 성능 개선 (FE)
  app/frontend/src/components/Input/Textarea.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChatList.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingFooter.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingHeader.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/TalkItem.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/index.tsx
  app/frontend/src/components/Sidebar/Wrapper/ChattingSidebar/index.tsx
  app/frontend/src/components/Sidebar/index.css.ts
  packages/morak-chat/src/interface/message.interface.ts
Labels: ✨ enhancement, 🎨 Front-end

#305 [Bug] 맵 모달에서 엔터 누르면 모달만 닫히는 버그 픽스
  app/frontend/src/components/Modal/MapModal/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#292 [Feat] 모각코 상세 페이지에서 지도로 위치 확인
  app/frontend/public/assets/images/map_sample.png
  app/frontend/src/components/Map/index.tsx
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/constants/MogacoDetail.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/hooks/index.ts
  app/frontend/src/hooks/useMap.ts
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/pages/MogacoDetail/DetailInfo.tsx
  app/frontend/src/pages/MogacoDetail/index.tsx
  app/frontend/src/types/tmap.ts
Labels: 🚀 feat, 🎨 Front-end

#302 [Feat] 빌드 프로세스 turbo 적용 및 nginx 적용
  app/backend/Dockerfile
  app/backend/Dockerfile.legacy
  app/backend/package.json
  app/backend/src/app.module.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/strategies/at.strategy.ts
  app/backend/src/auth/strategies/google.strategy.ts
  app/backend/src/auth/strategies/rt.strategy.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/main.ts
  app/backend/src/member/member.service.ts
  app/frontend/Dockerfile.dev
  app/frontend/Dockerfile.product
  app/frontend/docker-compose.yml
  docker-compose.yml
  nginx.conf.template
  nginx/Dockerfile
  nginx/nginx-entrypoint.sh
  package-lock.json
  packages/apitype/package.json
  packages/eslint-config/package.json
  packages/morak-chat/package.json
  packages/tsconfig/package.json
  packages/vault/package.json
  turbo.json
Labels: 🚀 feat, 💻 Back-end

#312 [Feat] 채팅 기능 개발
  app/backend/Dockerfile
  app/backend/Dockerfile.legacy
  app/backend/docker-compose.yml
  app/backend/package.json
  app/backend/src/app.module.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/strategies/at.strategy.ts
  app/backend/src/auth/strategies/google.strategy.ts
  app/backend/src/auth/strategies/rt.strategy.ts
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/chat/chat.guard.ts
  app/backend/src/chat/chat.module.ts
  app/backend/src/chat/chat.repository.ts
  app/backend/src/chat/chat.service.ts
  app/backend/src/chat/dto/chat.dto.ts
  app/backend/src/main.ts
  app/backend/src/member/member.service.ts
  app/frontend/Dockerfile.dev
  app/frontend/Dockerfile.product
  app/frontend/docker-compose.yml
  app/frontend/package.json
  app/frontend/src/components/Input/Textarea.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChatList.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingFooter.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingHeader.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/NotificationItem.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/TalkItem.css.ts
  app/frontend/src/components/Sidebar/Contents/Chatting/TalkItem.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/index.tsx
  app/frontend/src/components/Sidebar/Wrapper/ChattingSidebar/index.tsx
  app/frontend/src/components/Sidebar/index.css.ts
  app/frontend/src/hooks/useObserver.ts
  app/frontend/src/pages/MogacoDetail/DetailHeader.tsx
  app/frontend/src/pages/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/pages/MogacoDetail/index.tsx
  docker-compose.yml
  nginx.conf.template
  nginx/Dockerfile
  nginx/nginx-entrypoint.sh
  package-lock.json
  packages/apitype/package.json
  packages/eslint-config/package.json
  packages/morak-chat/.eslintrc.js
  packages/morak-chat/package.json
  packages/morak-chat/src/client/index.ts
  packages/morak-chat/src/events/socket.event.ts
  packages/morak-chat/src/index.ts
  packages/morak-chat/src/interface/index.ts
  packages/morak-chat/src/interface/message.interface.ts
  packages/morak-chat/src/interface/user.interface.ts
  packages/morak-chat/src/server/decorator/message.decorator.ts
  packages/morak-chat/src/server/decorator/room.decorator.ts
  packages/morak-chat/src/server/decorator/user.decorator.ts
  packages/morak-chat/src/server/index.ts
  packages/morak-chat/tsconfig.json
  packages/tsconfig/package.json
  packages/vault/package.json
  turbo.json
Labels: 💻 Back-end, 🎨 Front-end

#300 [Feat] 프로필 페이지 UI 작성
  app/frontend/src/components/Button/index.css.ts
  app/frontend/src/components/Divider/index.css.ts
  app/frontend/src/components/Divider/index.tsx
  app/frontend/src/components/Header/index.css.ts
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/MogacoDetail/index.css.ts
  app/frontend/src/pages/MogacoDetail/index.tsx
  app/frontend/src/pages/Profile/index.css.ts
  app/frontend/src/pages/Profile/index.tsx
  app/frontend/src/pages/index.ts
  app/frontend/src/styles/theme.css.ts
Labels: 🎨 Front-end, 💄 design

#313 [bug] .env 없을 때 dokckerfile 수정 및 fe 배포 action 수정
  .github/workflows/deploy-frontend.yml
  app/backend/Dockerfile
Labels: 💻 Back-end, 🎨 Front-end, 🐛 bug, 🚨 긴급

#298 [Test] Pagination에서 쓰이는 유틸 함수 테스트 케이스 추가
  .github/workflows/ci-frontend.yml
  app/frontend/package.json
  app/frontend/src/utils/createRangeArray.test.ts
  app/frontend/src/utils/get10UnitRange.test.ts
  app/frontend/src/utils/get10UnitRange.ts
  package-lock.json
Labels: 🎨 Front-end, ✅ Test

#308 [Modify] 그룹 나가기/참여하기 기능 추가
  app/frontend/src/components/Group/hooks/useGroupJoinLeave.tsx
  app/frontend/src/components/Group/hooks/useGroupModal.tsx
  app/frontend/src/components/Group/index.tsx
  app/frontend/src/pages/Groups/index.tsx
  app/frontend/src/queries/hooks/group.ts
  app/frontend/src/services/group.ts
Labels: 🚀 feat, 🎨 Front-end

#311 [Bug] 폼 작성 페이지에서 작성 버튼 활성화되지 않는 버그
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#316 [Modify] 마이 페이지 내가 속한 그룹
  app/frontend/src/components/Loading/LoadingIndicator.tsx
  app/frontend/src/pages/Profile/MyGroup/index.css.ts
  app/frontend/src/pages/Profile/MyGroup/index.tsx
  app/frontend/src/pages/Profile/index.css.ts
  app/frontend/src/pages/Profile/index.tsx
Labels: 🚀 feat, 🎨 Front-end

#318 [Feat] 비로그인 시 메인 외 다른 라우터에 접근 방지
  app/frontend/src/components/Auth/index.tsx
  app/frontend/src/components/Header/index.css.ts
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/components/Header/useClickMenu.ts
  app/frontend/src/components/Header/useLoginRequireModal.tsx
  app/frontend/src/components/Header/useMenu.tsx
  app/frontend/src/components/Modal/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/constants/Header.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/hooks/useRouter.tsx
Labels: ✨ enhancement, 🎨 Front-end

#325 [Refactor] assets 디렉토리 관리
  app/frontend/index.html
  app/frontend/public/morak.ico
  app/frontend/src/assets/icons/arrow_down.svg
  app/frontend/src/assets/icons/arrow_left.svg
  app/frontend/src/assets/icons/calendar.svg
  app/frontend/src/assets/icons/copy.svg
  app/frontend/src/assets/icons/crown.svg
  app/frontend/src/assets/icons/error_diamond.svg
  app/frontend/src/assets/icons/google.svg
  app/frontend/src/assets/icons/map.svg
  app/frontend/src/assets/icons/morak.svg
  app/frontend/src/assets/icons/people.svg
  app/frontend/src/assets/icons/pin.svg
  app/frontend/src/assets/icons/profile.svg
  app/frontend/src/assets/icons/progress.svg
  app/frontend/src/assets/images/main.png
  app/frontend/src/constants/Main.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/pages/Main/index.tsx
  app/frontend/vite.config.ts
Labels: ✨ enhancement, 🎨 Front-end

#323 [Feat] 모각코 페이지네이션 구현 및 수정 Patch -> Put
  app/backend/src/app.module.ts
  app/backend/src/chat/chat.guard.ts
  app/backend/src/chat/chat.module.ts
  app/backend/src/chat/chat.repository.ts
  app/backend/src/chat/dto/chat.dto.ts
  app/backend/src/mogaco-boards/mogaco-boards.controller.ts
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
  app/backend/src/mogaco-boards/mogaco-boards.service.ts
Labels: 🚀 feat, 💻 Back-end

#339 [Modify] 글 수정 METHOD patch에서 put으로 변경
  app/frontend/src/services/mogaco.ts
Labels: 🎨 Front-end

#346 [Fix] 모각코 페이지 요청 시 기본 page를 '1'로 설정
  app/frontend/src/pages/Mogaco/MogacoList.tsx
  app/frontend/src/queries/mogaco.ts
  app/frontend/src/services/mogaco.ts
Labels: 🎨 Front-end, 🐛 bug, 🚨 긴급

#349 [Feat] 페이지네이션 미적용 및 오류 예외처리 추가
  app/backend/src/mogaco-boards/mogaco-boards.controller.ts
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
  app/backend/src/mogaco-boards/mogaco-boards.service.ts
Labels: ✨ enhancement, 🚀 feat, 💻 Back-end

#351 [Refactor] 사이드바 컴포넌트 반응형 UI 개선
  app/frontend/src/components/Input/Textarea.css.ts
  app/frontend/src/components/Label/index.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/index.css.ts
  app/frontend/src/components/Sidebar/Contents/Mogaco/GroupWrapper.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/MogacoInfo.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/index.css.ts
  app/frontend/src/components/Sidebar/index.css.ts
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#321 [Feat] 현재 로그인한 사용자 정보를 프로필에 표시, 로그아웃 버튼 구현
  app/frontend/src/pages/Profile/MyProfile/index.css.ts
  app/frontend/src/pages/Profile/MyProfile/index.tsx
  app/frontend/src/pages/Profile/index.css.ts
  app/frontend/src/pages/Profile/index.tsx
  app/frontend/src/services/auth.ts
  app/frontend/src/services/index.ts
Labels: 🚀 feat, 🎨 Front-end

#350 [Design] 레이아웃 수정
  app/frontend/src/components/Layout/index.css.ts
  app/frontend/src/pages/Calendar/CalendarView.css.ts
  app/frontend/src/pages/Mogaco/index.css.ts
  app/frontend/src/pages/Profile/index.css.ts
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#352 [Fix] 파비콘 경로 수정
  app/frontend/index.html
Labels: 🎨 Front-end, 🐛 bug

#327 [Feature] 지도 마커에 날짜, 시간 표시, 내 위치 버튼 추가
  app/frontend/src/assets/icons/location.svg
  app/frontend/src/components/Map/Marker.tsx
  app/frontend/src/components/Map/MyLocation.tsx
  app/frontend/src/components/Map/index.css.ts
  app/frontend/src/components/Map/index.tsx
  app/frontend/src/hooks/useMap.ts
  app/frontend/src/pages/Map/index.css.ts
  app/frontend/src/pages/Map/index.tsx
  app/frontend/src/utils/index.ts
  app/frontend/src/utils/reactElementToString.ts
Labels: 🚀 feat, 🎨 Front-end

#353 [Refacotr] 특정 게시물 조회 시 groupId 추가 반환
  app/backend/src/mogaco-boards/dto/response-mogaco.dto.ts
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
  packages/apitype/dto/response/mogaco.ts
Labels: ✨ enhancement, 💻 Back-end

#354 [Bug] 글 수정 버그 해결
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#358 [Design] 모달 디자인 수정
  app/frontend/src/components/Modal/Footer.tsx
  app/frontend/src/components/Modal/index.css.ts
  app/frontend/src/components/Modal/index.tsx
Labels: 🎨 Front-end, 🐛 bug, 💄 design

#357 [Refactor] 그룹 아이템 컴포넌트 반응형 UI 개선
  app/frontend/src/components/Group/GroupButton.tsx
  app/frontend/src/components/Group/index.css.ts
  app/frontend/src/components/Group/index.tsx
  app/frontend/src/styles/font.css.ts
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#347 [fix] 빌드 파이프라인 변경
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  app/backend/src/chat/chat.gateway.ts
  app/backend/src/chat/chat.repository.ts
  app/frontend/Dockerfile.product
  app/frontend/src/components/Sidebar/Contents/Chatting/index.tsx
  app/frontend/src/constants/url.ts
  docker-compose.yml
  nginx.conf.template
  packages/morak-chat/src/client/index.ts
  packages/morak-chat/src/server/decorator/message.decorator.ts
  packages/morak-chat/src/server/decorator/room.decorator.ts
  packages/morak-chat/src/server/decorator/user.decorator.ts
  turbo.json
Labels: 🧱 Infra

#362 [Refactor] Input 컴포넌트 리팩토링
  app/frontend/src/components/Input/index.tsx
Labels: ✨ enhancement, 🎨 Front-end

#365 [fix] participant 테이블 컬럼 명 에러
  app/backend/src/chat/chat.guard.ts
  app/backend/src/chat/chat.repository.ts
  app/backend/src/chat/chat.service.ts
Labels: 💻 Back-end, 🐛 bug, 🚨 긴급

#370 [Design] 모각코 아이템 UI 수정
  app/frontend/src/components/MogacoItem/index.css.ts
  app/frontend/src/components/MogacoItem/index.tsx
Labels: 🎨 Front-end, 💄 design

#373 [Docs] README에 로고 추가
  README.md
Labels: 📝 docs

#364 [Design] 맵 모달 반응형
  app/frontend/src/components/Modal/MapModal/index.css.ts
Labels: 🎨 Front-end, 💄 design

#363 [Refactor] 모각코 게시글 데이터 페칭 에러 및 등록된 게시글이 0개일 때 UI 표시
  app/frontend/src/pages/Mogaco/ErrorPage.css.ts
  app/frontend/src/pages/Mogaco/ErrorPage.tsx
  app/frontend/src/pages/Mogaco/MogacoList.tsx
  app/frontend/src/pages/Mogaco/NoContents.css.ts
  app/frontend/src/pages/Mogaco/NoContents.tsx
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#371 [Fix] 모각코 수정 페이지 작성자 input 기본값 속성 defaultValue로 수정
  app/frontend/src/pages/MogacoPost/Controller/PostMember.tsx
Labels: 🎨 Front-end, 🐛 bug

#384 [Feat] Chat Logger 설정 및 init 로그 설정
  app/backend/src/chat/chat.gateway.ts
Labels: 🚀 feat, 💻 Back-end

#382 [Bug] 글 작성 시 시간 초과할 경우 글 작성 버튼 활성화되지 않음 버그 해결
  app/frontend/src/pages/MogacoPost/Controller/PostDate.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#379 [Bug] 마이페이지 내가 속한 그룹에서 나가기 작동하지 않음
  app/frontend/src/components/Group/index.tsx
  app/frontend/src/pages/Profile/MyGroup/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#397 [Feat] 모각코 모집 중/모집 마감/종료 필터링 구현 및 최대 인원 수 초과 시 오류 처리
  app/backend/package.json
  app/backend/src/mogaco-boards/mogaco-boards.repository.spec.ts
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
Labels: 🚀 feat, 💻 Back-end

#398 [Feat] 그룹 조회 시 해당 그룹 인원 추가 반환
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/groups/groups.controller.spec.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.spec.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.spec.ts
  app/backend/src/groups/groups.service.ts
  packages/apitype/dto/response/groups.ts
Labels: 🚀 feat, 💻 Back-end

#380 [Bug] 글 작성 시 최대 인원 수 필드가 비어 있도록 defaultValue 삭제
  app/frontend/src/pages/MogacoPost/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#399 [Modify] 메타 태그 추가
  app/frontend/index.html
  app/frontend/public/morak-meta-image.png
Labels: ✨ enhancement, 🎨 Front-end

#403 [Feature] 메인페이지 반응형 UI 개선
  app/frontend/src/pages/Main/index.css.ts
  app/frontend/src/pages/Main/index.tsx
Labels: 🎨 Front-end, 💄 design

#402 [Modify] 모각코 리스트 페이지에서 그룹 없을 경우 개선
  app/frontend/src/pages/Mogaco/EmptyPage.css.ts
  app/frontend/src/pages/Mogaco/EmptyPage.tsx
  app/frontend/src/pages/Mogaco/MogacoList.tsx
  app/frontend/src/pages/Mogaco/MogacoListHeader.tsx
  app/frontend/src/pages/Mogaco/NoGroupPage.tsx
Labels: ✨ enhancement, 🎨 Front-end

#400 [Modify] 메타 태그 추가
  app/frontend/index.html
  app/frontend/public/morak-meta-image.png
Labels: ✨ enhancement, 🎨 Front-end

#405 [Feat] 사용자가 참여한 모각코 조회 API 구현
  app/backend/src/mogaco-boards/mogaco-boards.controller.ts
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
  app/backend/src/mogaco-boards/mogaco-boards.service.ts
Labels: 🚀 feat, 💻 Back-end

#411 [Feat] 404 페이지 추가
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/NotFound/index.css.ts
  app/frontend/src/pages/NotFound/index.tsx
  app/frontend/src/pages/index.ts
Labels: ✨ enhancement, 🚀 feat, 🎨 Front-end

#413 [Feat] 로그인 인가 처리 방식 변경 (bearer token 사용 x)
  app/backend/libs/utils/swagger.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.module.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/guards/at.guard.ts
  app/backend/src/auth/interface/payload.interface.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/mogaco-boards/mogaco-boards.controller.ts
Labels: ✨ enhancement, 🚀 feat, 💻 Back-end

#422 [Refactor] 본인이 참여한 모각코 조회 API 수정
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
Labels: ✨ enhancement, 💻 Back-end

#423 [Docs] 프로젝트 소개문 요약
  README.md
Labels: 📝 docs

#420 [Design] 프로필 페이지 내가 속한 그룹 스타일 수정
  app/frontend/src/pages/Profile/index.css.ts
Labels: 🎨 Front-end, 💄 design

#417 [Design] 메인페이지 반응형 height 수정
  app/frontend/src/pages/Main/index.css.ts
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#421 [Feat] 마이페이지 - 내가 참가한 모각코 추가
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/pages/Profile/MyGroup/index.css.ts
  app/frontend/src/pages/Profile/MyGroup/index.tsx
  app/frontend/src/pages/Profile/MyMogaco/index.css.ts
  app/frontend/src/pages/Profile/MyMogaco/index.tsx
  app/frontend/src/pages/Profile/index.css.ts
  app/frontend/src/pages/Profile/index.tsx
  app/frontend/src/queries/mogaco.ts
  app/frontend/src/services/mogaco.ts
Labels: 🚀 feat, 🎨 Front-end

#415 [Bug] 그룹 컴포넌트 버그 해결 및 디자인 수정
  app/frontend/src/components/Group/index.css.ts
  app/frontend/src/components/Group/index.tsx
Labels: 🎨 Front-end, 🐛 bug, 💄 design

#419 [Fix] 새로운 채팅 참여자에 대한 정보를 동적으로 리페칭하도록 변경
  app/frontend/src/components/Sidebar/Contents/Chatting/ChatList.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/TalkItem.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/index.tsx
  app/frontend/src/components/UserChip/index.css.ts
  app/frontend/src/components/UserChip/index.tsx
  app/frontend/src/hooks/useChatting.ts
Labels: 🎨 Front-end, 🐛 bug

#424 [Docs] README 기능 설명 추가
  README.md
Labels: 📝 docs

#426 [Fix] 맥 환경에서 채팅 마지막 글자가 중복 전송되는 현상 수정
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingFooter.tsx
Labels: 🎨 Front-end, 🐛 bug

#430 [Docs] README 수정
  README.md
Labels: 📝 docs

#431 [Fix] 사이드바 내용 overflow 수정
  app/frontend/src/components/Sidebar/Contents/Mogaco/MogacoInfo.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/index.css.ts
Labels: 🎨 Front-end, 🐛 bug, 💄 design

#428 [fix] backend Dockerfile DB ip 유동성 추가
  app/backend/Dockerfile
  app/backend/wait-for-it.sh
Labels: 💻 Back-end, 🧱 Infra

#435 [Feat] 시각적 회귀 테스트를 위한 cypress 세팅 추가
  app/frontend/cypress.config.ts
  app/frontend/cypress/e2e/snapshot.cy.ts
  app/frontend/cypress/fixtures/example.json
  app/frontend/cypress/screenshots/snapshot.cy.ts/App -- should render on desktop (failed).png
  app/frontend/cypress/screenshots/snapshot.cy.ts/App -- should render on mobile (failed).png
  app/frontend/cypress/snapshots/snapshot.cy.ts/__diff_output__/desktop.diff.png
  app/frontend/cypress/snapshots/snapshot.cy.ts/__diff_output__/mobile.diff.png
  app/frontend/cypress/snapshots/snapshot.cy.ts/desktop.snap.png
  app/frontend/cypress/snapshots/snapshot.cy.ts/mobile.snap.png
  app/frontend/cypress/support/commands.ts
  app/frontend/cypress/support/e2e.ts
  app/frontend/package.json
  package-lock.json
  packages/tsconfig/frontend.json
Labels: ✨ enhancement, 🎨 Front-end, ✅ Test

#436 [Feat] cypress 설치
  app/frontend/cypress.config.ts
  app/frontend/cypress/e2e/spec.cy.ts
  app/frontend/cypress/fixtures/example.json
  app/frontend/cypress/support/commands.ts
  app/frontend/cypress/support/e2e.ts
  app/frontend/package.json
  package-lock.json
  turbo.json
Labels: ✨ enhancement, 🎨 Front-end, ✅ Test

#433 [Fix] 모각코 상세 게시글 페이지 contents 줄바꿈 개선
  app/frontend/src/components/Button/moreButton.css.ts
  app/frontend/src/pages/MogacoDetail/index.css.ts
  app/frontend/src/pages/MogacoDetail/index.tsx
Labels: 🎨 Front-end, 🐛 bug, 💄 design

#446 [Refactor] 헤더 및 모각코 리스트 페이지 접근성 개선
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/components/Pagination/index.tsx
  app/frontend/src/pages/Mogaco/MogacoList.tsx
Labels: ✨ enhancement, 🎨 Front-end

#416 [Feature] 모각코 상세 글 지도 static map으로 변경
  app/frontend/src/pages/MogacoDetail/DetailInfo.tsx
Labels: ✨ enhancement, 🎨 Front-end

#438 [Feat] 시각적 회귀 테스트를 위한 cypress 세팅 추가
  app/frontend/.gitignore
  app/frontend/cypress.config.ts
  app/frontend/cypress/e2e/snapshot.cy.ts
  app/frontend/cypress/e2e/spec.cy.ts
  app/frontend/cypress/support/commands.ts
  app/frontend/package.json
  package-lock.json
  packages/tsconfig/frontend.json
Labels: ✨ enhancement, 🎨 Front-end, ✅ Test

#452 [Refactor] Input, Textarea 컴포넌트 리팩토링
  app/frontend/src/components/FieldLabel/index.css.ts
  app/frontend/src/components/Input/Textarea.tsx
  app/frontend/src/components/Input/index.css.ts
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#442 [Test] Main 페이지 로그인/비로그인 테스트 코드 작성
  app/frontend/cypress.config.ts
  app/frontend/cypress/e2e/login.cy.ts
  app/frontend/cypress/e2e/spec.cy.ts
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/pages/Main/index.tsx
Labels: ✨ enhancement, 🎨 Front-end, ✅ Test

#453 [Refactor] @morak/ui 패키지 추가
  app/frontend/package.json
  package-lock.json
  packages/morak-ui/.eslintrc.cjs
  packages/morak-ui/package.json
  packages/morak-ui/src/index.ts
  packages/morak-ui/tsconfig.json
Labels: ✨ enhancement

#455 [Refactor] Cookie 토큰 옵션 추가 및 Swagger 개발 환경 설정
  .gitignore
  app/backend/.sample.dev.env
  app/backend/libs/utils/swagger.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.module.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/guards/at.guard.ts
  app/backend/src/auth/interface/payload.interface.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/main.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/mogaco-boards/mogaco-boards.controller.ts
Labels: 🚀 feat, 💻 Back-end

#443 [Refactor] 메인 페이지 성능 개선
  app/frontend/src/assets/images/main.webp
  app/frontend/src/pages/Main/index.tsx
Labels: ✨ enhancement, 🎨 Front-end

#459 📦️ nestjs platform-express install
  app/backend/package.json
  package-lock.json
Labels: 💻 Back-end, 🐛 bug

#466 [Bug] App.tsx의 CookieProvider 삭제
  app/frontend/src/App.tsx
Labels: 🎨 Front-end, 🐛 bug

#467 [Merge] feature/auth-refactor to develop
  app/frontend/cypress.config.ts
  app/frontend/cypress/e2e/login.cy.ts
  app/frontend/package.json
  app/frontend/src/App.tsx
  app/frontend/src/components/Auth/index.tsx
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/components/Header/useClickMenu.ts
  app/frontend/src/hooks/index.ts
  app/frontend/src/hooks/useSetUserInfo.ts
  app/frontend/src/pages/Main/index.tsx
  app/frontend/src/queries/hooks/member.ts
  app/frontend/src/services/morakAPI.ts
  app/frontend/src/utils/cookies.ts
  app/frontend/src/utils/index.ts
  package-lock.json
Labels: ✨ enhancement, 💻 Back-end, 🎨 Front-end

#468 [Refactor] main.ts 현재 환경 콘솔로그 제거
  app/backend/src/main.ts
Labels: 💻 Back-end, 🖌️ style

#471 [Refactor] Input/Textarea/FieldLabel 컴포넌트 @morak/ui에서 사용하도록 변경
  app/frontend/src/components/Modal/InputModal.tsx
  app/frontend/src/components/Modal/MapModal/index.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingFooter.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostContents.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostDate.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostGroupId.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostMaxHumanCount.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostMember.tsx
  app/frontend/src/pages/MogacoPost/Controller/group.css.ts
  packages/morak-ui/src/components/FieldLabel/index.css.ts
  packages/morak-ui/src/components/FieldLabel/index.tsx
  packages/morak-ui/src/components/Input/Textarea.css.ts
  packages/morak-ui/src/components/Input/Textarea.tsx
  packages/morak-ui/src/components/Input/index.css.ts
  packages/morak-ui/src/components/Input/index.tsx
  packages/morak-ui/src/index.ts
Labels: ✨ enhancement, 🎨 Front-end

#469 [Refactor] Button 컴포넌트 @morak/ui에서 사용하도록 변경
  app/frontend/src/components/Button/index.css.ts
  app/frontend/src/components/Button/index.tsx
  app/frontend/src/components/Group/GroupButton.tsx
  app/frontend/src/components/Modal/Footer.tsx
  app/frontend/src/components/Modal/MapModal/index.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingFooter.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/MogacoInfo.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/pages/Mogaco/MogacoListHeader.tsx
  app/frontend/src/pages/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
  app/frontend/src/pages/Profile/MyProfile/index.tsx
  packages/morak-ui/src/components/Button/index.tsx
Labels: ✨ enhancement, 🎨 Front-end

#475 [Refactor] 헤더 컴포넌트 스크린 리더 & 키보드 접근성 개선
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/components/Header/useClickMenu.ts
  app/frontend/src/components/Header/useMenu.tsx
Labels: ✨ enhancement, 🎨 Front-end

#476 [Refactor] Pagination 컴포넌트 개선 및 @morak/ui에서 사용하도록 변경
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/usePagination.ts
  app/frontend/src/pages/Mogaco/index.tsx
  packages/morak-ui/src/components/Pagination/index.css.ts
  packages/morak-ui/src/components/Pagination/index.tsx
  packages/morak-ui/src/index.ts
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#472 [Refactor] TextLabel과 Input/Textarea를 분리하고 클라이언트에서 조합하여 사용하도록 변경
  app/frontend/src/components/FormInput/Textarea.tsx
  app/frontend/src/components/FormInput/index.css.ts
  app/frontend/src/components/FormInput/index.tsx
  app/frontend/src/components/Modal/MapModal/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostContents.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostDate.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostGroupId.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostMaxHumanCount.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostMember.tsx
  packages/morak-ui/src/components/Input/Textarea.css.ts
  packages/morak-ui/src/components/Input/Textarea.tsx
  packages/morak-ui/src/components/Input/index.css.ts
  packages/morak-ui/src/components/Input/index.tsx
  packages/morak-ui/src/components/TextLabel/index.css.ts
  packages/morak-ui/src/components/TextLabel/index.tsx
  packages/morak-ui/src/index.ts
Labels: ✨ enhancement, 🎨 Front-end

#470 [Refactor] Label 컴포넌트 @morak/ui에서 사용하도록 변경
  app/frontend/cypress/e2e/snapshot/main.cy.ts
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/TitleWrapper.tsx
  app/frontend/src/components/index.ts
  packages/morak-ui/src/components/Label/index.css.ts
  packages/morak-ui/src/components/Label/index.tsx
  packages/morak-ui/src/index.ts
Labels: ✨ enhancement, 🎨 Front-end

#479 [Refactor] Tmap 렌더링 속도 개선을 위한 스펙 변경 (Tmapv2 → Tmpav3)
  app/frontend/index.html
  app/frontend/src/assets/icons/marker-green.svg
  app/frontend/src/assets/icons/marker-red.svg
  app/frontend/src/components/Map/Marker.tsx
  app/frontend/src/components/Map/index.css.ts
  app/frontend/src/components/Map/index.tsx
  app/frontend/src/components/Modal/MapModal/useMap.ts
  app/frontend/src/constants/Map.ts
  app/frontend/src/hooks/useMap.ts
  app/frontend/src/types/global.d.ts
  app/frontend/src/types/tmap.ts
Labels: ✨ enhancement, 🎨 Front-end

#450 [Refactor] 모각코 상세 게시글 페이지 접근성 개선
  app/frontend/src/components/Sidebar/Contents/Chatting/ChatList.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingFooter.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/NotificationItem.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/TalkItem.tsx
  app/frontend/src/components/Sidebar/index.css.ts
  app/frontend/src/components/Sidebar/index.tsx
  app/frontend/src/pages/MogacoDetail/DetailInfo.tsx
  app/frontend/src/pages/MogacoDetail/index.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostContents.tsx
Labels: ✨ enhancement, 🎨 Front-end

#482 [Refactor] Morak UI에 prettier 추가
  .github/CODEOWNERS
  packages/morak-ui/.prettierrc
  packages/morak-ui/package.json
  packages/morak-ui/src/components/Button/index.tsx
  packages/morak-ui/src/components/Input/Textarea.tsx
  packages/morak-ui/src/components/Input/index.tsx
Labels: ✨ enhancement, 🎨 Front-end

#477 [Refactor] 모각코 리스트 페이지 스크린 리더 & 키보드 접근성 개선
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/pages/Mogaco/MogacoList.tsx
  app/frontend/src/pages/Mogaco/index.tsx
  app/frontend/src/pages/MogacoDetail/DetailInfo.tsx
  packages/morak-ui/src/components/Pagination/index.tsx
Labels: ✨ enhancement, 🎨 Front-end

#480 [Refactor] Tmap 렌더링 속도 개선을 위한 스펙 변경 (Tmapv2 → Tmpav3)
  app/frontend/index.html
  app/frontend/src/assets/icons/marker-green.svg
  app/frontend/src/assets/icons/marker-red.svg
  app/frontend/src/components/Map/Marker.tsx
  app/frontend/src/components/Map/index.css.ts
  app/frontend/src/components/Map/index.tsx
  app/frontend/src/components/Modal/MapModal/useMap.ts
  app/frontend/src/constants/Map.ts
  app/frontend/src/hooks/useMap.ts
  app/frontend/src/types/global.d.ts
  app/frontend/src/types/tmap.ts
Labels: ✨ enhancement, 🎨 Front-end

#484 [Fix] 채팅 UI가 닫혀있을 때 동적 데이터 페칭 버그 수정
  app/frontend/src/components/Sidebar/index.css.ts
  app/frontend/src/components/Sidebar/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#486 [Fix] 지도 초기 좌표 추가, 마커 이미지 경로 수정
  app/frontend/src/components/Map/Marker.tsx
  app/frontend/src/components/Map/index.css.ts
  app/frontend/src/hooks/useMap.ts
Labels: 🎨 Front-end, 🐛 bug

#481 [Bug] 페이지네이션 버그 수정
  app/frontend/cypress/downloads/downloads.html
  app/frontend/src/pages/Mogaco/index.tsx
  packages/morak-ui/src/components/Pagination/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#478 [Test] 모각코, 그룹 모집 필터링, 오류 처리 테스트
  app/backend/src/groups/groups.repository.spec.ts
  app/backend/src/mogaco-boards/mogaco-boards.repository.spec.ts
Labels: 💻 Back-end, ✅ Test

#488 [Refactor] 모각코 리스트 생성일 내림차순으로 조회 구현
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
Labels: 🚀 feat, 💻 Back-end

#490 [Bug] HH:MM > HH:mm 찾아서 수정
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/pages/MogacoDetail/DetailInfo.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#498 [Feat] 내가 참여한 모각코 조회 시 삭제된 모각코 제외 반환
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
Labels: ✨ enhancement, 💻 Back-end

#492 [Refactor] Popover 컴포넌트 morak/ui에서 관리
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingHeader.tsx
  app/frontend/src/components/index.ts
  packages/morak-ui/src/components/Popover/index.css.ts
  packages/morak-ui/src/components/Popover/index.tsx
  packages/morak-ui/src/index.ts
Labels: ✨ enhancement, 🎨 Front-end

#494 [Refactor] 모각코 상태에 따라 라벨 색상 변경
  app/frontend/src/components/MogacoItem/index.css.ts
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/TitleWrapper.tsx
  packages/morak-ui/src/components/Label/index.css.ts
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#499 [Refactor] MapModal과 hooks에서 작성된 useMap 훅을 하나로 사용하도록 리팩토링
  app/frontend/src/components/Map/index.tsx
  app/frontend/src/components/Modal/MapModal/index.tsx
  app/frontend/src/components/Modal/MapModal/useMap.ts
  app/frontend/src/hooks/useMap.ts
Labels: ✨ enhancement, 🎨 Front-end
