Repository boostcampwm2023/web17_morak, pull requests merged in 2023-11, with the labels that each got.

#1 [Docs] README에 팀원 정보 추가
  README.md
Labels: 📝 docs

#3 [Docs] README의 기획서 링크 수정
  README.md
Labels: 📝 docs

#5 [Feat] Backend NestJS 프로젝트 초기 세팅
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: 🚀 feat, 💻 Back-end

#11 [Feat] Vite, TS, React 기본 세팅
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: 🚀 feat, 🎨 Front-end

#14 [Feat] 프로젝트 gitignore 설정 및 Nestjs app단 정리
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
Labels: 💻 Back-end, 🖌️ style

#17 [Feat] 🔨 Nest JS 서버 Dockerfile 작성
  backend/.dockerignore
  backend/Dockerfile
Labels: 🚀 feat, 💻 Back-end

#21 [Docs] CODEOWNER 파일 추가
  .github/CODEOWNERS
Labels: 📝 docs

#24 [Feat] NestJS API 문서화를 위한 Swagger 설정
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
Labels: 🚀 feat, 💻 Back-end

#25 [Refactor] 모노레포 1차 적용
  app/backend/.dockerignore
  app/backend/.eslintrc.js
  app/backend/.gitignore
  app/backend/.prettierrc
  app/backend/Dockerfile
  app/backend/README.md
  app/backend/nest-cli.json
  app/backend/package.json
  app/backend/src/app.module.ts
  app/backend/src/main.ts
  app/backend/test/app.e2e-spec.ts
  app/backend/test/jest-e2e.json
  app/backend/tsconfig.build.json
  app/backend/tsconfig.json
  app/frontend/.eslintrc.cjs
  app/frontend/.gitignore
  app/frontend/README.md
  app/frontend/index.html
  app/frontend/package.json
  app/frontend/public/vite.svg
  app/frontend/src/App.css
  app/frontend/src/App.tsx
  app/frontend/src/assets/react.svg
  app/frontend/src/index.css
  app/frontend/src/main.tsx
  app/frontend/src/vite-env.d.ts
  app/frontend/tsconfig.json
  app/frontend/tsconfig.node.json
  app/frontend/vite.config.ts
  app/frontend/yarn.lock
  backend/tsconfig.json
  frontend/tsconfig.json
  package-lock.json
  package.json
  packages/eslint-config/backend.js
  packages/eslint-config/frontend.js
  packages/eslint-config/package.json
  packages/tsconfig/backend.json
  packages/tsconfig/frontend.json
  packages/tsconfig/package.json
  turbo.json
Labels: 🚀 feat, 💻 Back-end, 🎨 Front-end, 🖌️ style

#28 [Feat] 모노레포 gitignore 설정
  .gitignore
Labels: 🚀 feat, 💻 Back-end, 🎨 Front-end

#29 [Docs] README에 모노레포 커맨드 실행 명령어 설명 추가
  README.md
Labels: 📝 docs

#31 [Feat] :wrench: Frontend ESLint, Prettier, Stylelint 세팅
  app/frontend/.eslintrc.cjs
  app/frontend/.prettierrc
  app/frontend/.stylelintrc
  app/frontend/package.json
  app/frontend/src/App.css
  app/frontend/src/App.tsx
  app/frontend/src/index.css
  app/frontend/src/main.tsx
  app/frontend/tsconfig.json
  app/frontend/vite.config.ts
  app/frontend/yarn.lock
  package-lock.json
  packages/eslint-config/frontend.js
  packages/tsconfig/frontend.json
Labels: 🚀 feat, 🎨 Front-end, 🖌️ style

#36 [Docs] 모노레포 구조 변경으로 인한 CODEOWNERS 파일 수정
  .github/CODEOWNERS
Labels: 📝 docs

#35 [Feat] Google OAuth2.0 초안 설계 및 사용자 정보 추출
  app/backend/.sample.env
  app/backend/package.json
  app/backend/src/app.module.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.module.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/guards/google-oauth.guard.ts
  app/backend/src/auth/utils/google.strategy.ts
  package-lock.json
Labels: 🚀 feat, 💻 Back-end

#37 [Design] vanilla extract 설치 및 예시 코드 작성
  app/frontend/package.json
  app/frontend/src/App.css.ts
  app/frontend/src/App.tsx
  app/frontend/vite.config.ts
  package-lock.json
Labels: 🎨 Front-end

#38 [Chore] React Query | Jotai | Axios 라이브러리 설치
  app/frontend/package.json
  package-lock.json
  packages/eslint-config/frontend.js
Labels: 🎨 Front-end

#41 [Feat] Prisma 세팅 및 Google 로그인 시 사용자 정보 DB 저장, 서버 액세스 토큰 발급
  app/backend/.sample.env
  app/backend/package.json
  app/backend/prisma/migrations/20231111101044_init/migration.sql
  app/backend/prisma/migrations/migration_lock.toml
  app/backend/prisma/schema.prisma
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.module.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/dto/user.dto.ts
  app/backend/src/auth/utils/google.strategy.ts
  app/backend/src/utils/prisma.service.ts
  package-lock.json
Labels: 🚀 feat, 💻 Back-end

#47 [Docs] gitignore에 .turbo 추가
  .gitignore
Labels: 📝 docs

#45 [Chore] husky pre-commit 세팅
  .husky/pre-commit
  app/frontend/package.json
  package-lock.json
  package.json
Labels: 🎨 Front-end

#52 [Chore] 프론트엔드 폴더 구조 세팅
  .husky/pre-commit
  app/frontend/package.json
  app/frontend/src/App.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/hooks/index.ts
  app/frontend/src/pages/index.ts
  app/frontend/src/queries/index.ts
  app/frontend/src/services/index.ts
  app/frontend/src/stores/index.ts
  app/frontend/src/styles/index.ts
  app/frontend/src/types/index.ts
  app/frontend/src/utils/index.ts
  app/frontend/tsconfig.json
  app/frontend/vite.config.ts
Labels: 🎨 Front-end

#51 [Chore] FE 패키지 설치 및 stylelint 제거
  app/frontend/.stylelintrc
  app/frontend/package.json
  package-lock.json
Labels: 🚀 feat, 🎨 Front-end

#56 [Design] 색상 테마 및 폰트 시스템 추가
  app/frontend/.eslintrc.cjs
  app/frontend/index.html
  app/frontend/src/App.css.ts
  app/frontend/src/App.tsx
  app/frontend/src/styles/font.css.ts
  app/frontend/src/styles/index.css.ts
  app/frontend/src/styles/index.ts
  app/frontend/src/styles/reset.css.ts
  app/frontend/src/styles/theme.css.ts
Labels: 🎨 Front-end, 💄 design

#44 [Feat] Refresh token 발행 및 Redis 저장
  app/backend/.sample.env
  app/backend/libs/decorators/get-user.decorator.ts
  app/backend/libs/utils/prisma.service.ts
  app/backend/package.json
  app/backend/src/app.module.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.module.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/guards/at.guard.ts
  app/backend/src/auth/guards/rt.guard.ts
  app/backend/src/auth/strategies/at.strategy.ts
  app/backend/src/auth/strategies/google.strategy.ts
  app/backend/src/auth/strategies/index.ts
  app/backend/src/auth/strategies/rt.strategy.ts
  app/backend/src/auth/types/index.ts
  app/backend/src/auth/types/payload.interface.ts
  app/backend/src/auth/types/tokens.interface.ts
  app/backend/src/main.ts
  package-lock.json
Labels: 🚀 feat, 💻 Back-end

#66 [Feat] Auth 유효성 검사 및 Swagger 문서화
  app/backend/package.json
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/dto/user.dto.ts
  app/backend/src/main.ts
  package-lock.json
Labels: ✨ enhancement, 🚀 feat, 💻 Back-end

#68 [Fix] Secret Key, ExprisIn 환경변수 재설정
  app/backend/src/auth/auth.service.ts
Labels: 💻 Back-end, 🐛 bug

#70 [Feat] index.* 파일을 디렉토리명으로 import 할 수 있도록 변경
  app/frontend/tsconfig.json
  app/frontend/vite.config.ts
Labels: ✨ enhancement, 🎨 Front-end

#73 [Refactor] Swagger 코드 분리 및 PORT 번호 환경변수 처리
  app/backend/.sample.env
  app/backend/libs/utils/swagger.ts
  app/backend/src/app.controller.ts
  app/backend/src/app.module.ts
  app/backend/src/main.ts
Labels: ✨ enhancement, 💻 Back-end

#64 [Feat] ESLint import 순서 설정
  packages/eslint-config/frontend.js
Labels: 🎨 Front-end, 🖌️ style

#71 [Feat] Header 컴포넌트 구현, favicon 추가
  app/frontend/index.html
  app/frontend/src/App.css.ts
  app/frontend/src/App.tsx
  app/frontend/src/assets/icons/morak.ico
  app/frontend/src/assets/icons/morak.svg
  app/frontend/src/assets/icons/profile.svg
  app/frontend/src/components/commons/Header/index.css.ts
  app/frontend/src/components/commons/Header/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/constants/Header.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/main.tsx
  app/frontend/src/styles/font.css.ts
  app/frontend/src/styles/reset.css.ts
Labels: 🚀 feat, 🎨 Front-end

#72 [Feat] 백엔드 docker 설정
  app/backend/Dockerfile
  app/backend/docker-compose.yml
  app/backend/docker-entrypoint.sh
  app/backend/tsconfig.json
  app/backend/wait-for-it.sh
  packages/tsconfig/backend.json
Labels: 🚀 feat, 💻 Back-end

#81 [Feat] 사용자 정보(provider_id) 값 전달 API
  app/backend/.sample.env
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/main.ts
Labels: 🚀 feat, 💻 Back-end

#57 [Feat] Input 컴포넌트 구현
  app/frontend/.eslintrc.cjs
  app/frontend/src/components/commons/Input/index.css.ts
  app/frontend/src/components/commons/Input/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/styles/reset.css.ts
  packages/eslint-config/frontend.js
Labels: 🎨 Front-end, 💄 design

#83 [Feat] SVG Plugin 설정
  app/frontend/package.json
  app/frontend/src/assets/icons/profile.svg
  app/frontend/src/components/commons/Header/index.css.ts
  app/frontend/src/components/commons/Header/index.tsx
  app/frontend/src/types/custom.d.ts
  app/frontend/tsconfig.json
  app/frontend/vite.config.ts
  package-lock.json
Labels: 🚀 feat, 🎨 Front-end

#88 [Feat] Label 컴포넌트 구현
  app/frontend/package.json
  app/frontend/src/components/commons/Label/index.css.ts
  app/frontend/src/components/commons/Label/index.tsx
  package-lock.json
  packages/eslint-config/frontend.js
Labels: 🎨 Front-end, 💄 design

#96 [Chore] export-sort-rule 적용 및 불필요한 파일 삭제
  app/frontend/package.json
  app/frontend/src/App.css
  app/frontend/src/App.css.ts
  app/frontend/src/components/commons/Header/index.css.ts
  app/frontend/src/index.css
  app/frontend/src/main.tsx
  app/frontend/src/styles/font.css.ts
  app/frontend/src/styles/index.css.ts
  package-lock.json
  packages/eslint-config/frontend.js
Labels: 🎨 Front-end

#85 [Chore] 절대 경로 별칭 수정
  app/frontend/src/App.css.ts
  app/frontend/src/App.tsx
  app/frontend/src/components/commons/Header/index.css.ts
  app/frontend/src/components/commons/Header/index.tsx
  app/frontend/src/components/commons/Input/index.css.ts
  app/frontend/src/styles/index.ts
  app/frontend/tsconfig.json
  app/frontend/vite.config.ts
  packages/eslint-config/frontend.js
Labels: 🎨 Front-end

#80 [Feat] 프론트엔드 Docker 설정
  app/frontend/Dockerfile
  app/frontend/docker-compose.yml
  app/frontend/package.json
Labels: 🚀 feat, 🎨 Front-end

#110 [Hotfix] @styles 절대 경로 바뀌지 않은 부분 수정
  app/frontend/src/components/commons/Label/index.css.ts
  app/frontend/src/components/commons/Label/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#105 [Chore] husky 설정 파일 수정
  .husky/pre-commit
  app/frontend/package.json
Labels: ✨ enhancement, 🎨 Front-end, 🚨 긴급

#95 [Feat] Jwt 토큰 유저정보 추가
  app/backend/prisma/migrations/20231119084220_init/migration.sql
  app/backend/prisma/schema.prisma
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/dto/user.dto.ts
  app/backend/src/auth/types/index.ts
  app/backend/src/auth/types/user.interface.ts
Labels: ✨ enhancement, 💻 Back-end

#100 [Feat] Google OAuth2.0 구현 마무리
  app/backend/.sample.env
  app/backend/package.json
  app/backend/src/app.module.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/interface/auth.interface.ts
  app/backend/src/auth/interface/index.ts
  app/backend/src/auth/interface/payload.interface.ts
  app/backend/src/auth/interface/tokens.interface.ts
  app/backend/src/auth/strategies/at.strategy.ts
  app/backend/src/auth/strategies/rt.strategy.ts
  app/backend/src/main.ts
  app/backend/src/member/interface/user.interface.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/member/member.module.ts
  app/backend/src/member/member.service.ts
Labels: 🚀 feat, 💻 Back-end

#65 [Feat] Button 컴포넌트 구현
  app/frontend/src/components/commons/Button/index.css.ts
  app/frontend/src/components/commons/Button/index.tsx
  package-lock.json
  packages/eslint-config/frontend.js
Labels: 🎨 Front-end, 💄 design

#94 [Feat] Sidebar 컴포넌트 구현
  app/frontend/src/assets/icons/leftArrow.svg
  app/frontend/src/components/commons/Sidebar/index.css.ts
  app/frontend/src/components/commons/Sidebar/index.tsx
  app/frontend/src/styles/reset.css.ts
Labels: 🎨 Front-end, 💄 design

#60 [Feat] Popover 컴포넌트 구현
  app/frontend/src/components/commons/Popover/index.css.ts
  app/frontend/src/components/commons/Popover/index.tsx
  app/frontend/src/components/index.ts
Labels: 🎨 Front-end, 💄 design

#112 [Feat] Google OAuth, Member 정보 반환 Swagger
  app/backend/src/auth/auth.controller.ts
  app/backend/src/member/dto/member.dto.ts
  app/backend/src/member/interface/user.interface.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/member/member.service.ts
Labels: ✨ enhancement, 💻 Back-end

#107 [Feat] 메인페이지 레이아웃 구현
  app/frontend/src/App.tsx
  app/frontend/src/assets/icons/google.svg
  app/frontend/src/assets/images/main.png
  app/frontend/src/components/commons/Button/index.css.ts
  app/frontend/src/components/index.ts
  app/frontend/src/constants/Main.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/pages/Main/index.css.ts
  app/frontend/src/pages/Main/index.tsx
  app/frontend/src/pages/index.ts
  app/frontend/src/styles/font.css.ts
Labels: 🚀 feat, 🎨 Front-end, 💄 design

#113 [Feat] OAuth Redirect URL Vault 적용
  app/backend/src/auth/auth.controller.ts
  package-lock.json
Labels: ✨ enhancement, 💻 Back-end

#115 [Feat] Google OAuth 수정 사항
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/interface/payload.interface.ts
Labels: ✨ enhancement, 💻 Back-end

#89 [Feat] Modal 컴포넌트 구현
  app/frontend/src/components/commons/Button/index.tsx
  app/frontend/src/components/commons/Input/index.css.ts
  app/frontend/src/components/commons/Input/index.tsx
  app/frontend/src/components/commons/Modal/Footer.tsx
  app/frontend/src/components/commons/Modal/InputModal.tsx
  app/frontend/src/components/commons/Modal/index.css.ts
  app/frontend/src/components/commons/Modal/index.tsx
  app/frontend/src/styles/reset.css.ts
Labels: 🎨 Front-end, 💄 design

#102 [Feat] 채팅 UI 컴포넌트 구현
  app/frontend/src/App.tsx
  app/frontend/src/assets/icons/people.svg
  app/frontend/src/components/commons/Button/index.tsx
  app/frontend/src/components/commons/Chatting/ChatList.tsx
  app/frontend/src/components/commons/Chatting/ChattingFooter.tsx
  app/frontend/src/components/commons/Chatting/ChattingHeader.tsx
  app/frontend/src/components/commons/Chatting/NotificationItem.css.ts
  app/frontend/src/components/commons/Chatting/NotificationItem.tsx
  app/frontend/src/components/commons/Chatting/TalkItem.css.ts
  app/frontend/src/components/commons/Chatting/TalkItem.tsx
  app/frontend/src/components/commons/Chatting/UserInfo.tsx
  app/frontend/src/components/commons/Chatting/index.css.ts
  app/frontend/src/components/commons/Chatting/index.tsx
  app/frontend/src/components/commons/Input/Textarea.tsx
  app/frontend/src/components/commons/Input/index.css.ts
  app/frontend/src/components/commons/Label/index.css.ts
  app/frontend/src/components/index.ts
  app/frontend/src/types/chatting.ts
  app/frontend/src/types/index.ts
Labels: 🎨 Front-end, 💄 design

#111 [Feat] 모각코 리스트 컴포넌트 구현
  app/frontend/src/assets/icons/calendar.svg
  app/frontend/src/assets/icons/map.svg
  app/frontend/src/components/commons/MogacoItem/index.css.ts
  app/frontend/src/components/commons/MogacoItem/index.tsx
  app/frontend/src/components/index.ts
Labels: 🚀 feat, 🎨 Front-end

#104 [Chore] prettier printWidth 변경
  app/frontend/.env.development
  app/frontend/.prettierrc
  app/frontend/docker-compose.yml
  app/frontend/index.html
  app/frontend/package.json
  app/frontend/src/App.tsx
  app/frontend/src/components/commons/Chatting/ChatList.tsx
  app/frontend/src/components/commons/Chatting/NotificationItem.tsx
  app/frontend/src/components/commons/Chatting/TalkItem.tsx
  app/frontend/src/components/commons/Chatting/UserInfo.tsx
  app/frontend/src/components/commons/Chatting/index.css.ts
  app/frontend/src/components/commons/Chatting/index.tsx
  app/frontend/src/components/commons/Header/index.tsx
  app/frontend/src/components/commons/Input/Textarea.tsx
  app/frontend/src/components/commons/Input/index.tsx
  app/frontend/src/components/commons/Label/index.css.ts
  app/frontend/src/components/commons/Label/index.tsx
  app/frontend/src/components/commons/Modal/Footer.tsx
  app/frontend/src/components/commons/Popover/index.tsx
  app/frontend/src/components/commons/Sidebar/index.tsx
  app/frontend/src/pages/Main/index.tsx
  app/frontend/src/styles/reset.css.ts
Labels: 🎨 Front-end

#120 [Feat] 프론트엔드 ci 파일 추가
  .github/workflows/ci-frontend.yml
Labels: ✨ enhancement, 🎨 Front-end

#106 [Feat] 프론트엔드 구글 로그인
  app/frontend/.env.sample
  app/frontend/.gitignore
  app/frontend/package.json
  app/frontend/public/mockServiceWorker.js
  app/frontend/src/App.tsx
  app/frontend/src/components/commons/Chatting/ChattingHeader.tsx
  app/frontend/src/components/commons/Chatting/index.tsx
  app/frontend/src/components/commons/Layout/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/index.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/hooks/useSetUserInfo.ts
  app/frontend/src/main.tsx
  app/frontend/src/mocks/browser.ts
  app/frontend/src/mocks/handlers.ts
  app/frontend/src/mocks/members.ts
  app/frontend/src/pages/Main/index.tsx
  app/frontend/src/services/index.ts
  app/frontend/src/services/member.ts
  app/frontend/src/services/morakAPI.ts
  app/frontend/src/stores/index.ts
  app/frontend/src/stores/user.ts
  app/frontend/src/types/chatting.ts
  app/frontend/src/types/index.ts
  app/frontend/src/types/user.ts
  app/frontend/src/utils/cookies.ts
  app/frontend/src/utils/index.ts
  package-lock.json
  package.json
  packages/eslint-config/frontend.js
Labels: 🚀 feat, 🎨 Front-end

#127 [Feat] 헤더 상단 고정 및 z-index 수정
  app/frontend/src/components/commons/Header/index.css.ts
  app/frontend/src/components/commons/Layout/index.css.ts
  app/frontend/src/components/commons/Layout/index.tsx
Labels: 🎨 Front-end, 💄 design

#128 [Design] layout 컴포넌트 maxWidth 설정
  app/frontend/src/components/commons/Layout/index.css.ts
Labels: 🎨 Front-end, 💄 design

#116 [Fix] 메인이미지 경로 변경
  app/frontend/index.html
  app/frontend/public/assets/icons/calendar.svg
  app/frontend/public/assets/icons/google.svg
  app/frontend/public/assets/icons/leftArrow.svg
  app/frontend/public/assets/icons/map.svg
  app/frontend/public/assets/icons/morak.ico
  app/frontend/public/assets/icons/morak.svg
  app/frontend/public/assets/icons/people.svg
  app/frontend/public/assets/icons/profile.svg
  app/frontend/public/assets/images/main.png
  app/frontend/public/vite.svg
  app/frontend/src/assets/react.svg
  app/frontend/src/constants/Main.ts
  app/frontend/vite.config.ts
Labels: 🎨 Front-end, 🐛 bug

#117 [Feat] Morak ERD Schema 0.0.1
  app/backend/prisma/migrations/20231119084220_init/migration.sql
  app/backend/prisma/migrations/20231121023456_init/migration.sql
  app/backend/prisma/migrations/20231121023509_morak_0_0_1/migration.sql
  app/backend/prisma/schema.prisma
Labels: ✨ enhancement, 🚀 feat, 💻 Back-end

#129 [Fix] Sidebar 컴포넌트 위치 관련 버그 수정
  app/frontend/src/components/commons/Sidebar/index.css.ts
  app/frontend/src/styles/reset.css.ts
Labels: 🎨 Front-end, 🐛 bug, 💄 design

#135 [Design] layout에 기본 패딩 값을 추가
  app/frontend/src/components/commons/Layout/index.css.ts
  app/frontend/src/pages/Main/index.css.ts
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#130 [Design] 모각코 리스트 뷰 퍼블리싱
  app/frontend/package.json
  app/frontend/src/components/Mogaco/MogacoList.css.ts
  app/frontend/src/components/Mogaco/MogacoList.tsx
  app/frontend/src/components/Mogaco/MogacoListHeader.css.ts
  app/frontend/src/components/Mogaco/MogacoListHeader.tsx
  app/frontend/src/components/Mogaco/index.css.ts
  app/frontend/src/components/Mogaco/index.tsx
  app/frontend/src/components/commons/MogacoItem/index.css.ts
  app/frontend/src/components/commons/MogacoItem/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/Mogaco/index.tsx
  app/frontend/src/pages/index.ts
  app/frontend/src/types/index.ts
  app/frontend/src/types/mogaco.ts
  package-lock.json
Labels: 🎨 Front-end, 💄 design

#131 [Design] 모각코 게시글 상세 페이지 퍼블리싱
  app/frontend/public/assets/icons/arrow_down.svg
  app/frontend/public/assets/icons/arrow_left_large.svg
  app/frontend/public/assets/icons/calendar_large.svg
  app/frontend/public/assets/icons/map_large.svg
  app/frontend/public/assets/icons/people_large.svg
  app/frontend/public/assets/icons/profile_large.svg
  app/frontend/public/assets/images/map_sample.png
  app/frontend/src/components/Mogaco/MogacoList.tsx
  app/frontend/src/components/Mogaco/MogacoListHeader.tsx
  app/frontend/src/components/MogacoDetail/DetailContent.tsx
  app/frontend/src/components/MogacoDetail/DetailHeader.tsx
  app/frontend/src/components/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/components/MogacoDetail/DetailInfo.tsx
  app/frontend/src/components/MogacoDetail/index.css.ts
  app/frontend/src/components/MogacoDetail/index.tsx
  app/frontend/src/components/commons/Button/index.css.ts
  app/frontend/src/components/commons/Chatting/ChattingFooter.tsx
  app/frontend/src/components/commons/Chatting/ChattingHeader.tsx
  app/frontend/src/components/commons/Chatting/TalkItem.css.ts
  app/frontend/src/components/commons/Chatting/TalkItem.tsx
  app/frontend/src/components/commons/Header/index.tsx
  app/frontend/src/components/commons/Layout/index.tsx
  app/frontend/src/components/commons/Modal/Footer.tsx
  app/frontend/src/components/commons/Modal/InputModal.tsx
  app/frontend/src/components/commons/Sidebar/index.tsx
  app/frontend/src/components/commons/UserChip/index.css.ts
  app/frontend/src/components/commons/UserChip/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/constants/MogacoDetail.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/MogacoDetail/index.tsx
  app/frontend/src/pages/index.ts
Labels: 🎨 Front-end, 💄 design

#139 [Feat] 모각코 로그인 권한 처리 및 API Response 카멜케이스 처리
  app/backend/.gitignore
  app/backend/libs/decorators/get-user.decorator.ts
  app/backend/prisma/migrations/20231111101044_init/migration.sql
  app/backend/prisma/migrations/20231121023456_init/migration.sql
  app/backend/prisma/migrations/20231121023509_morak_0_0_1/migration.sql
  app/backend/prisma/migrations/20231121065729_init/migration.sql
  app/backend/prisma/migrations/20231121065750_morak_0_0_2/migration.sql
  app/backend/prisma/schema.prisma
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.module.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
  app/backend/src/auth/dto/user.dto.ts
  app/backend/src/auth/interface/auth.interface.ts
  app/backend/src/auth/strategies/at.strategy.ts
  app/backend/src/mogaco/dto/create-mogaco.dto.ts
  app/backend/src/mogaco/dto/mogaco.dto.ts
  app/backend/src/mogaco/mogaco.controller.ts
  app/backend/src/mogaco/mogaco.module.ts
  app/backend/src/mogaco/mogaco.repository.ts
  app/backend/src/mogaco/mogaco.service.ts
  app/backend/src/mogaco/pipes/mogaco-status-validation.pipe.ts
Labels: ✨ enhancement, 🚀 feat, 💻 Back-end

#137 [Feat] 모각코 게시글 작성 페이지 퍼블리싱
  app/frontend/src/components/MogacoPost/index.css.ts
  app/frontend/src/components/MogacoPost/index.tsx
  app/frontend/src/components/commons/Input/Textarea.tsx
  app/frontend/src/components/commons/Input/index.css.ts
  app/frontend/src/components/commons/Input/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
  app/frontend/src/pages/index.ts
Labels: 🚀 feat, 🎨 Front-end, 💄 design

#140 [Feat] 모각코 리스트 페이지 API 연동 및 리액트 쿼리 사용
  app/frontend/src/components/Mogaco/MogacoList.tsx
  app/frontend/src/components/Mogaco/MogacoListHeader.tsx
  app/frontend/src/components/Mogaco/index.css.ts
  app/frontend/src/components/commons/MogacoItem/index.tsx
  app/frontend/src/constants/index.ts
  app/frontend/src/constants/path.ts
  app/frontend/src/mocks/handlers.ts
  app/frontend/src/mocks/mogacos.ts
  app/frontend/src/queries/index.ts
  app/frontend/src/queries/mogaco.ts
  app/frontend/src/services/index.ts
  app/frontend/src/services/mogaco.ts
  app/frontend/src/services/morakAPI.ts
  app/frontend/src/types/mogaco.ts
Labels: 🚀 feat, 🎨 Front-end

#143 [Feat] 모각코 참가자 관련 로직 구현 및 Swagger 설정
  app/backend/src/member/dto/member.dto.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/mogaco/dto/create-mogaco.dto.ts
  app/backend/src/mogaco/dto/mogaco.dto.ts
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/dto/response-participants.dto.ts
  app/backend/src/mogaco/mogaco.controller.ts
  app/backend/src/mogaco/mogaco.repository.ts
  app/backend/src/mogaco/mogaco.service.ts
Labels: ✨ enhancement, 🚀 feat, 💻 Back-end

#150 [Feat] API 주소 환경 변수 대신 상수로 관리
  app/frontend/src/constants/index.ts
  app/frontend/src/constants/url.ts
  app/frontend/src/services/morakAPI.ts
Labels: 🎨 Front-end

#151 [Bug] 로그인 페이지 이동 시 env 환경 변수 상수로 변경
  app/frontend/src/pages/Main/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#141 [Feat] 모각코 상세 게시글 페이지 읽기 구현
  app/frontend/src/components/MogacoDetail/DetailContent.tsx
  app/frontend/src/components/MogacoDetail/DetailContents.tsx
  app/frontend/src/components/MogacoDetail/DetailHeader.tsx
  app/frontend/src/components/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/components/MogacoDetail/DetailInfo.tsx
  app/frontend/src/components/MogacoDetail/index.css.ts
  app/frontend/src/components/MogacoDetail/index.tsx
  app/frontend/src/components/commons/MogacoItem/index.tsx
  app/frontend/src/mocks/handlers.ts
  app/frontend/src/mocks/members.ts
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/pages/MogacoDetail/index.tsx
  app/frontend/src/services/member.ts
  app/frontend/src/services/mogaco.ts
  app/frontend/src/types/mogaco.ts
Labels: 🚀 feat, 🎨 Front-end

#158 [Fix, Feat] CORS Vault 환경변수 수정 및 특정 게시물 조회 시 생성자 반환
  app/backend/.sample.env
  app/backend/src/auth/auth.controller.ts
  app/backend/src/main.ts
  app/backend/src/member/dto/member.dto.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/member/member.service.ts
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/mogaco.controller.ts
  app/backend/src/mogaco/mogaco.repository.ts
Labels: 🚀 feat, 💻 Back-end, 🐛 bug

#152 [Feat] 모각코 게시글 작성 폼 유효성 검사
  app/frontend/src/components/MogacoPost/MogacoPostTitle.tsx
  app/frontend/src/components/MogacoPost/index.css.ts
  app/frontend/src/components/MogacoPost/index.tsx
  app/frontend/src/components/commons/Input/Textarea.tsx
  app/frontend/src/components/commons/Input/index.tsx
  app/frontend/src/constants/MogacoPost.ts
  app/frontend/src/constants/index.ts
  app/frontend/src/types/mogaco.ts
Labels: 🚀 feat, 🎨 Front-end

#153 [Feat] 모각코 상세 게시글 페이지 API 일부 구현
  app/frontend/src/components/Mogaco/MogacoList.tsx
  app/frontend/src/components/MogacoDetail/DetailHeader.tsx
  app/frontend/src/components/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/components/MogacoDetail/DetailInfo.tsx
  app/frontend/src/components/MogacoDetail/index.css.ts
  app/frontend/src/components/MogacoDetail/index.tsx
  app/frontend/src/components/commons/MogacoItem/index.tsx
  app/frontend/src/mocks/members.ts
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/pages/MogacoDetail/index.tsx
  app/frontend/src/services/mogaco.ts
  app/frontend/src/types/mogaco.ts
Labels: 🚀 feat, 🎨 Front-end

#161 [Feat] 모각코 글 작성
  app/frontend/package.json
  app/frontend/src/components/MogacoPost/index.tsx
  app/frontend/src/hooks/index.ts
  app/frontend/src/hooks/useUserInfo.ts
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/services/mogaco.ts
  app/frontend/src/types/mogaco.ts
  app/frontend/src/utils/cookies.ts
  package-lock.json
Labels: 🚀 feat, 🎨 Front-end

#163 [Fix] 모각코 글 작성 페이지 코드 수정
  app/frontend/package.json
  app/frontend/src/components/MogacoPost/index.tsx
  app/frontend/src/hooks/index.ts
  app/frontend/src/hooks/useUserInfo.ts
  app/frontend/src/services/mogaco.ts
  app/frontend/src/types/mogaco.ts
  package-lock.json
Labels: 🎨 Front-end, 🐛 bug

#164 [Fix] 글 post 성공 시 status code를 201로 변경
  app/frontend/src/components/MogacoPost/index.tsx
  app/frontend/src/mocks/mogaco.ts
Labels: 🎨 Front-end, 🐛 bug

#162 [Feat] 모각코 상세 게시글 페이지 API 연동
  app/frontend/src/components/Mogaco/MogacoList.tsx
  app/frontend/src/components/MogacoDetail/DetailContents.tsx
  app/frontend/src/components/MogacoDetail/DetailHeader.tsx
  app/frontend/src/components/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/components/MogacoDetail/DetailInfo.tsx
  app/frontend/src/components/MogacoDetail/index.tsx
  app/frontend/src/components/commons/MogacoItem/index.tsx
  app/frontend/src/main.tsx
  app/frontend/src/mocks/members.ts
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/pages/MogacoDetail/index.tsx
  app/frontend/src/queries/hooks/mogaco.ts
  app/frontend/src/queries/index.ts
  app/frontend/src/queries/member.ts
  app/frontend/src/queries/mogaco.ts
  app/frontend/src/services/member.ts
  app/frontend/src/services/mogaco.ts
  app/frontend/src/stores/user.ts
  app/frontend/src/types/index.ts
  app/frontend/src/types/member.ts
  app/frontend/src/types/mogaco.ts
Labels: 🚀 feat, 🎨 Front-end

#165 [Fix] 인증 실패 시 리다이렉션 코드 제거
  app/frontend/src/components/MogacoDetail/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#166 [Fix] 사용자 미인증 시 제한을 버튼에만 적용하도록 변경
  app/frontend/src/components/MogacoDetail/DetailHeader.tsx
  app/frontend/src/components/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/components/MogacoDetail/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#167 [Fix] 참석자 목록 overflow 값을 scroll에서 auto로 변경
  app/frontend/src/components/MogacoDetail/index.css.ts
Labels: 🎨 Front-end, 💄 design, 🚨 긴급

#173 [Feat] me API 로그인 인증 가드 적용
  app/backend/src/member/member.controller.ts
Labels: ✨ enhancement, 💻 Back-end

#174 [HotFix] member Moudle에 AuthModule 적용
  app/backend/src/member/member.module.ts
Labels: ✨ enhancement, 💻 Back-end

#156 [Fix] docker compose 스크립트 수정
  app/backend/docker-compose.yml
Labels: ✨ enhancement, 💻 Back-end, 🐛 bug

#145 [Feat] API 공통 타입 모듈 구성
  app/backend/package.json
  app/frontend/package.json
  package-lock.json
  packages/apitype/DTO/request/Auth.ts
  packages/apitype/DTO/response/Auth.ts
  packages/apitype/package.json
Labels: 🚀 feat, 💻 Back-end, 🎨 Front-end

#178 [Feat] DB 사용자 정보(닉네임, 프로필 사진 주소) 최신화 구현
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
Labels: 🚀 feat, 💻 Back-end

#179 [Feat] 그룹 기능 구현
  app/backend/prisma/prisma.module.ts
  app/backend/prisma/prisma.service.ts
  app/backend/prisma/schema.prisma
  app/backend/src/app.module.ts
  app/backend/src/auth/auth.module.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.module.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
  app/backend/src/mogaco/dto/create-mogaco.dto.ts
  app/backend/src/mogaco/mogaco.module.ts
  app/backend/src/mogaco/mogaco.repository.ts
Labels: 🚀 feat, 💻 Back-end

#172 [Fix] 상세 게시글 페이지 데이터 로딩 및 에러 처리 로직 개선
  app/frontend/public/assets/icons/error_diamond.svg
  app/frontend/public/assets/icons/progress.svg
  app/frontend/src/components/Mogaco/MogacoList.tsx
  app/frontend/src/components/MogacoDetail/DetailHeader.tsx
  app/frontend/src/components/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/components/MogacoDetail/DetailInfo.tsx
  app/frontend/src/components/MogacoDetail/index.css.ts
  app/frontend/src/components/MogacoDetail/index.tsx
  app/frontend/src/components/commons/Error/index.css.ts
  app/frontend/src/components/commons/Error/index.tsx
  app/frontend/src/components/commons/Loading/LoadingIndicator.tsx
  app/frontend/src/components/commons/Loading/index.css.ts
  app/frontend/src/components/commons/Loading/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/main.tsx
Labels: ✨ enhancement, 🎨 Front-end, 💄 design

#181 [Feat] Group Swagger 문서화 작업
  app/backend/libs/utils/swagger.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/groups/dto/response-groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/mogaco/dto/response-participants.dto.ts
  app/backend/src/mogaco/mogaco.controller.ts
Labels: 🚀 feat, 💻 Back-end, 📝 docs

#185 [Refactor] API 공통 타입 모듈 구성
  app/backend/src/auth/dto/user.dto.ts
  app/backend/src/groups/dto/create-groups.dto.ts
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/groups/dto/response-groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/member/dto/member.dto.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/member/member.service.ts
  app/backend/src/mogaco/dto/create-mogaco.dto.ts
  app/backend/src/mogaco/dto/index.ts
  app/backend/src/mogaco/dto/mogaco.dto.ts
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/dto/response-participants.dto.ts
  app/backend/src/mogaco/enum/mogaco-status.enum.ts
  app/backend/src/mogaco/mogaco.controller.ts
  app/backend/src/mogaco/mogaco.repository.ts
  app/backend/src/mogaco/mogaco.service.ts
  app/backend/src/mogaco/pipes/mogaco-status-validation.pipe.ts
  packages/apitype/DTO/request/Auth.ts
  packages/apitype/DTO/response/Auth.ts
  packages/apitype/dto/request/api.ts
  packages/apitype/dto/request/auth.ts
  packages/apitype/dto/request/groups.ts
  packages/apitype/dto/request/mogaco.ts
  packages/apitype/dto/response/groups.ts
  packages/apitype/dto/response/member.ts
  packages/apitype/dto/response/mogaco.ts
  packages/apitype/dto/response/participant.ts
Labels: ✨ enhancement

#187 [Refactor] pages, components 디렉토리 구조 변경
  app/frontend/src/components/Button/index.css.ts
  app/frontend/src/components/Button/index.tsx
  app/frontend/src/components/Chatting/ChatList.tsx
  app/frontend/src/components/Chatting/ChattingFooter.tsx
  app/frontend/src/components/Chatting/ChattingHeader.tsx
  app/frontend/src/components/Chatting/NotificationItem.css.ts
  app/frontend/src/components/Chatting/NotificationItem.tsx
  app/frontend/src/components/Chatting/TalkItem.css.ts
  app/frontend/src/components/Chatting/TalkItem.tsx
  app/frontend/src/components/Chatting/index.css.ts
  app/frontend/src/components/Chatting/index.tsx
  app/frontend/src/components/Error/index.css.ts
  app/frontend/src/components/Error/index.tsx
  app/frontend/src/components/Header/index.css.ts
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/components/Input/Textarea.css.ts
  app/frontend/src/components/Input/Textarea.tsx
  app/frontend/src/components/Input/index.css.ts
  app/frontend/src/components/Input/index.tsx
  app/frontend/src/components/Label/index.css.ts
  app/frontend/src/components/Label/index.tsx
  app/frontend/src/components/Layout/index.css.ts
  app/frontend/src/components/Layout/index.tsx
  app/frontend/src/components/Loading/LoadingIndicator.tsx
  app/frontend/src/components/Loading/index.css.ts
  app/frontend/src/components/Loading/index.tsx
  app/frontend/src/components/Modal/Footer.tsx
  app/frontend/src/components/Modal/InputModal.tsx
  app/frontend/src/components/Modal/index.css.ts
  app/frontend/src/components/Modal/index.tsx
  app/frontend/src/components/Mogaco/index.tsx
  app/frontend/src/components/MogacoDetail/index.tsx
  app/frontend/src/components/MogacoItem/index.css.ts
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/components/MogacoPost/index.tsx
  app/frontend/src/components/Popover/index.css.ts
  app/frontend/src/components/Popover/index.tsx
  app/frontend/src/components/Sidebar/index.css.ts
  app/frontend/src/components/Sidebar/index.tsx
  app/frontend/src/components/UserChip/index.css.ts
  app/frontend/src/components/UserChip/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/Main/index.tsx
  app/frontend/src/pages/Mogaco/MogacoList.css.ts
  app/frontend/src/pages/Mogaco/MogacoList.tsx
  app/frontend/src/pages/Mogaco/MogacoListHeader.css.ts
  app/frontend/src/pages/Mogaco/MogacoListHeader.tsx
  app/frontend/src/pages/Mogaco/index.css.ts
  app/frontend/src/pages/Mogaco/index.tsx
  app/frontend/src/pages/MogacoDetail/DetailHeader.tsx
  app/frontend/src/pages/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/pages/MogacoDetail/DetailInfo.tsx
  app/frontend/src/pages/MogacoDetail/index.css.ts
  app/frontend/src/pages/MogacoDetail/index.tsx
  app/frontend/src/pages/MogacoPost/MogacoPostTitle.tsx
  app/frontend/src/pages/MogacoPost/index.css.ts
  app/frontend/src/pages/MogacoPost/index.tsx
Labels: ✨ enhancement, 🎨 Front-end

#190 [Refactor] App.tsx와 main.tsx 용도 분리 및 리팩토링
  app/frontend/src/App.tsx
  app/frontend/src/main.tsx
  app/frontend/src/pages/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/queries/hooks/index.ts
  app/frontend/src/queries/hooks/member.ts
  app/frontend/src/queries/index.ts
  app/frontend/src/queries/member.ts
  app/frontend/src/utils/index.ts
  app/frontend/src/utils/mocking.ts
Labels: ✨ enhancement, 🎨 Front-end

#195 [Refactor] 아이콘 파일 정리
  app/frontend/public/assets/icons/arrow_down.svg
  app/frontend/public/assets/icons/arrow_left.svg
  app/frontend/public/assets/icons/calendar.svg
  app/frontend/public/assets/icons/calendar_large.svg
  app/frontend/public/assets/icons/error_diamond.svg
  app/frontend/public/assets/icons/map.svg
  app/frontend/public/assets/icons/map_large.svg
  app/frontend/public/assets/icons/people.svg
  app/frontend/public/assets/icons/people_large.svg
  app/frontend/public/assets/icons/profile.svg
  app/frontend/public/assets/icons/profile_large.svg
  app/frontend/src/components/Chatting/ChattingHeader.tsx
  app/frontend/src/components/Error/index.tsx
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/components/Sidebar/index.tsx
  app/frontend/src/components/UserChip/index.tsx
  app/frontend/src/pages/MogacoDetail/DetailInfo.tsx
Labels: ✨ enhancement, 🎨 Front-end

#194 [Feat] 캘린더 페이지 퍼블리싱
  app/frontend/package.json
  app/frontend/src/components/Sidebar/Contents/Mogaco/InfoWrapper.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/TitleWrapper.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/index.css.ts
  app/frontend/src/components/Sidebar/Contents/Mogaco/index.tsx
  app/frontend/src/components/Sidebar/Wrapper/MogacoSidebar/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/Calendar/CalendarView.css.ts
  app/frontend/src/pages/Calendar/CalendarView.tsx
  app/frontend/src/pages/Calendar/index.css.ts
  app/frontend/src/pages/Calendar/index.tsx
  app/frontend/src/pages/index.ts
  package-lock.json
Labels: 🚀 feat, 🎨 Front-end

#193 [Feat] local에서 API test를 위한 command 추가
  app/frontend/package.json
  app/frontend/src/constants/url.ts
  app/frontend/src/services/morakAPI.ts
Labels: ✨ enhancement, 🎨 Front-end

#200 [Feat] /auth/refresh API 보수 및 Swagger
  app/backend/libs/utils/swagger.ts
  app/backend/src/auth/auth.controller.ts
  app/backend/src/auth/auth.repository.ts
  app/backend/src/auth/auth.service.ts
Labels: ✨ enhancement, 💻 Back-end, 📝 docs

#203 [Feat] 특정 모각코 조회 시 참가자 목록 반환
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/dto/response-participants.dto.ts
  app/backend/src/mogaco/mogaco.repository.ts
  packages/apitype/dto/response/mogaco.ts
  packages/apitype/dto/response/participant.ts
Labels: ✨ enhancement, 💻 Back-end

#196 [Refactor] Sidebar 폴더 구조 변경
  app/frontend/src/components/Sidebar/Contents/Chatting/ChatList.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingFooter.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/ChattingHeader.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/NotificationItem.css.ts
  app/frontend/src/components/Sidebar/Contents/Chatting/NotificationItem.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/TalkItem.css.ts
  app/frontend/src/components/Sidebar/Contents/Chatting/TalkItem.tsx
  app/frontend/src/components/Sidebar/Contents/Chatting/index.css.ts
  app/frontend/src/components/Sidebar/Contents/Chatting/index.tsx
  app/frontend/src/components/Sidebar/Wrapper/ChattingSidebar/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/types/chatting.ts
Labels: ✨ enhancement, 🎨 Front-end

#192 [Feat] 모각코 게시글 수정 기능 구현
  app/frontend/package.json
  app/frontend/src/components/Input/index.tsx
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/pages/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostContents.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostDate.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostGroupId.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostMaxHumanCount.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostMember.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostTitle.tsx
  app/frontend/src/pages/MogacoPost/Controller/index.css.ts
  app/frontend/src/pages/MogacoPost/Controller/index.ts
  app/frontend/src/pages/MogacoPost/index.css.ts
  app/frontend/src/pages/MogacoPost/index.tsx
  app/frontend/src/queries/hooks/post.ts
  app/frontend/src/services/mogaco.ts
  package-lock.json
Labels: 🚀 feat, 🎨 Front-end

#209 [Feat] 모각코 정보 반환 시 그룹명 추가 반환
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/mogaco.repository.ts
  packages/apitype/dto/response/mogaco.ts
Labels: ✨ enhancement, 🚀 feat, 💻 Back-end

#213 [Feat, Refactor] 사용자 본인 가입 그룹 확인 API 및 Swagger 보수
  app/backend/libs/utils/swagger.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
Labels: ✨ enhancement, 🚀 feat, 💻 Back-end

#217 [Refactor] bigint 타입 string으로 변경
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/mogaco/dto/create-mogaco.dto.ts
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/dto/response-participants.dto.ts
  app/backend/src/mogaco/mogaco.controller.ts
  app/backend/src/mogaco/mogaco.repository.ts
  app/backend/src/mogaco/mogaco.service.ts
  packages/apitype/dto/request/mogaco.ts
  packages/apitype/dto/response/groups.ts
  packages/apitype/dto/response/mogaco.ts
  packages/apitype/dto/response/participant.ts
  packages/apitype/dto/type.ts
Labels: ✨ enhancement, 💻 Back-end

#207 [Feat] 지도 페이지 레이아웃 구현
  app/frontend/.env.sample
  app/frontend/index.html
  app/frontend/public/assets/icons/pin.svg
  app/frontend/src/components/Header/index.tsx
  app/frontend/src/components/Map/index.css.ts
  app/frontend/src/components/Map/index.tsx
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/Map/index.css.ts
  app/frontend/src/pages/Map/index.tsx
  app/frontend/src/pages/index.ts
  app/frontend/src/types/global.d.ts
Labels: 🚀 feat, 🎨 Front-end

#224 [Refactor/Fix] 불필요한 데이터 반환 제외 및 /member/me API 수정
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
  app/backend/src/member/member.controller.ts
  app/backend/src/member/member.service.ts
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/dto/response-participants.dto.ts
  app/backend/src/mogaco/mogaco.controller.ts
  app/backend/src/mogaco/mogaco.repository.ts
  app/backend/src/mogaco/mogaco.service.ts
  packages/apitype/dto/request/api.ts
  packages/apitype/dto/response/mogaco.ts
  packages/apitype/dto/response/participant.ts
Labels: ✨ enhancement, 💻 Back-end, 🐛 bug

#226 [Fix] Axios 설정에 'withCredentials' 옵션 추가
  app/frontend/src/services/morakAPI.ts
Labels: 🎨 Front-end, 🐛 bug

#219 [Modify] 프론트에서 공통 타입(@morak/apitype) 사용할 수 있도록 설정
  app/frontend/package.json
  package-lock.json
  packages/apitype/dto/index.ts
  packages/apitype/package.json
  packages/apitype/tsconfig.json
Labels: ✨ enhancement, 🎨 Front-end

#220 [Feat] turbo 설정 추가
  app/frontend/package.json
  turbo.json
Labels: ✨ enhancement

#218 [Feat] 공통 모달 구현
  app/frontend/src/components/Header/index.css.ts
  app/frontend/src/components/Layout/index.tsx
  app/frontend/src/components/Modal/InputModal.tsx
  app/frontend/src/components/Modal/ModalContainer.tsx
  app/frontend/src/components/Modal/index.css.ts
  app/frontend/src/components/Modal/index.tsx
  app/frontend/src/components/Sidebar/index.css.ts
  app/frontend/src/components/index.ts
  app/frontend/src/hooks/index.ts
  app/frontend/src/hooks/useModal.ts
  app/frontend/src/stores/index.ts
  app/frontend/src/stores/modal.ts
Labels: 🚀 feat, 🎨 Front-end

#227 [Bug] @morak/apitype 중복 선언 해결
  app/frontend/package.json
Labels: 🐛 bug

#229 [Fix] 모각코 아이템에서 인원 표시 제거
  app/frontend/src/components/MogacoItem/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#221 [Feat] Calendar API 연결
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/pages/Calendar/CalendarView.tsx
  app/frontend/src/pages/Calendar/useMogacoQuery.ts
  app/frontend/src/queries/mogaco.ts
  app/frontend/src/services/mogaco.ts
Labels: 🚀 feat, 🎨 Front-end

#228 [Modify] 글 삭제 버튼 클릭 시 모달 연결
  app/frontend/src/pages/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/pages/MogacoDetail/useDeleteModal.tsx
Labels: ✨ enhancement, 🎨 Front-end

#231 [Modify] 글 작성 시 가입된 그룹 선택
  app/frontend/src/pages/MogacoPost/Controller/PostGroupId.tsx
  app/frontend/src/pages/MogacoPost/Controller/group.css.ts
  app/frontend/src/pages/MogacoPost/index.tsx
  app/frontend/src/queries/group.ts
  app/frontend/src/queries/index.ts
  app/frontend/src/services/group.ts
  app/frontend/src/services/index.ts
Labels: ✨ enhancement, 🎨 Front-end

#232 [Refactor] Input 컴포넌트에서 FieldLabel을 분리
  app/frontend/src/components/FieldLabel/index.css.ts
  app/frontend/src/components/FieldLabel/index.tsx
  app/frontend/src/components/Input/index.css.ts
  app/frontend/src/components/Input/index.tsx
  app/frontend/src/components/index.ts
Labels: ✨ enhancement, 🎨 Front-end

#235 [Feat] 모각코 기간 별 조회 기능
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/mogaco.controller.ts
  app/backend/src/mogaco/mogaco.repository.ts
  app/backend/src/mogaco/mogaco.service.ts
  packages/apitype/dto/response/mogaco.ts
Labels: 🚀 feat, 💻 Back-end

#240 [Design] 캘린더 크기 조정
  app/frontend/src/pages/Calendar/CalendarView.css.ts
  app/frontend/src/pages/Calendar/index.css.ts
Labels: 🎨 Front-end, 💄 design

#238 [Refactor] 프론트에서 @morak/apitype 공통 타입 사용하도록 수정
  app/frontend/src/components/MogacoItem/index.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/GroupWrapper.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/InfoWrapper.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/MogacoInfo.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/TitleWrapper.tsx
  app/frontend/src/mocks/members.ts
  app/frontend/src/mocks/mogaco.ts
  app/frontend/src/pages/Calendar/useMogacoQuery.ts
  app/frontend/src/pages/Mogaco/MogacoList.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostAddress.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostContents.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostDate.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostGroupId.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostMaxHumanCount.tsx
  app/frontend/src/pages/MogacoPost/Controller/PostTitle.tsx
  app/frontend/src/pages/MogacoPost/index.tsx
  app/frontend/src/queries/hooks/post.ts
  app/frontend/src/services/member.ts
  app/frontend/src/services/mogaco.ts
  app/frontend/src/stores/user.ts
  app/frontend/src/types/index.ts
  app/frontend/src/types/member.ts
  app/frontend/src/types/mogaco.ts
  packages/apitype/dto/response/mogaco.ts
Labels: ✨ enhancement, 🎨 Front-end

#243 [Fix] 모각코 데이터의 좌표값이 없는 경우 처리
  app/frontend/src/components/Map/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#242 [Desgin] 캘린더 이벤트 스타일 수정
  app/frontend/src/pages/Calendar/CalendarView.css.ts
  app/frontend/src/pages/Calendar/CalendarView.tsx
Labels: 🎨 Front-end, 💄 design

#241 [Design] 모각코 사이드바 제목 디자인 조정
  app/frontend/src/components/Label/index.css.ts
  app/frontend/src/components/Sidebar/Contents/Mogaco/TitleWrapper.tsx
  app/frontend/src/components/Sidebar/Contents/Mogaco/index.css.ts
Labels: 🎨 Front-end, 💄 design

#246 [Modify] 폼 유효성 검사 통과하지 않았을 경우 버튼을 비활성화 처리
  app/frontend/src/pages/MogacoPost/index.tsx
Labels: ✨ enhancement, 🎨 Front-end

#249 [Modify] 참석 및 참석 취소 버튼 클릭 시 모달 오픈
  app/frontend/src/pages/MogacoDetail/DetailHeaderButtons.tsx
  app/frontend/src/pages/MogacoDetail/useDeleteModal.tsx
  app/frontend/src/pages/MogacoDetail/useModal.tsx
Labels: ✨ enhancement, 🎨 Front-end

#248 [Refactor] 멘토링 피드백 반영
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/mogaco/mogaco.controller.ts
  app/backend/src/mogaco/mogaco.repository.ts
Labels: ✨ enhancement, 💻 Back-end

#253 [Feat] 지도 API 구현, Dto 추가
  app/backend/prisma/migrations/20231130061623_map/migration.sql
  app/backend/prisma/schema.prisma
  app/backend/src/member/member.controller.spec.ts
  app/backend/src/mogaco/dto/create-mogaco.dto.ts
  app/backend/src/mogaco/dto/response-mogaco.dto.ts
  app/backend/src/mogaco/mogaco.repository.ts
  packages/apitype/dto/request/mogaco.ts
  packages/apitype/dto/response/mogaco.ts
Labels: 🚀 feat, 💻 Back-end
