Repository boostcampwm2023/web17_morak, pull requests merged in 2024-01, with the labels that each got.

#504 [Test] e2e 테스트 세팅 및 app e2e 테스트
  app/backend/test/app.e2e-spec.ts
  app/backend/test/jest-e2e.json
  app/backend/tsconfig.json
Labels: 💻 Back-end, ✅ Test

#508 [Feat] pwa 세팅
  app/frontend/index.html
  app/frontend/package.json
  app/frontend/public/manifest.json
  app/frontend/public/morak-192x192.png
  app/frontend/public/morak-256x256.png
  app/frontend/public/morak-384x384.png
  app/frontend/public/morak-512x512.png
  app/frontend/vite.config.ts
  package-lock.json
Labels: 🚀 feat, 🎨 Front-end

#511 [Feat] 특정 그룹 정보 반환 API 구현
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
Labels: 🚀 feat, 💻 Back-end

#516 [Feat] 그룹 참여코드 및 가입 신청 스키마에 대한 db 추가
  app/backend/prisma/migrations/20240129073403_commit_c91c5f7/migration.sql
  app/backend/prisma/schema.prisma
Labels: 🚀 feat, 💻 Back-end

#517 [Feat] DB 스키마 파일 수정
  app/backend/prisma/migrations/20240129084512_commit_3de1a19/migration.sql
  app/backend/prisma/schema.prisma
Labels: 🚀 feat, 💻 Back-end

#519 [Feat] 그룹 생성 시 그룹장, 그룹 타입 id 반환
  app/backend/src/groups/dto/create-groups.dto.ts
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
  packages/apitype/dto/request/groups.ts
  packages/apitype/dto/response/groups.ts
Labels: 🚀 feat, 💻 Back-end
