Repository boostcampwm2023/web17_morak, pull requests merged in 2024-02, with the labels that each got.

#524 [Refactor] Group 스키마 변경으로 인한 코드 수정
  app/backend/src/groups/dto/groups.dto.ts
  app/backend/src/mogaco-boards/mogaco-boards.repository.ts
Labels: ✨ enhancement, 💻 Back-end

#526 [Feat] 그룹 생성 시 GroupAccessCode 생성 및 DB 저장
  app/backend/src/groups/groups.controller.ts
  app/backend/src/groups/groups.repository.ts
  app/backend/src/groups/groups.service.ts
Labels: 🚀 feat, 💻 Back-end

#522 [Bug] 장소 모달에서 장소 검색 시 undefined 에러 발생하는 버그
  app/frontend/src/components/Modal/MapModal/index.tsx
Labels: 🎨 Front-end, 🐛 bug

#509 [Feat] 그룹 생성 페이지 추가
  app/frontend/src/hooks/useRouter.tsx
  app/frontend/src/pages/Groups/Create/GroupTypeRadio.tsx
  app/frontend/src/pages/Groups/Create/index.css.ts
  app/frontend/src/pages/Groups/Create/index.tsx
  app/frontend/src/pages/Groups/Create/types.ts
  app/frontend/src/pages/index.ts
Labels: 🚀 feat, 🎨 Front-end

#529 📝 README.md에 repo 변경 추가
  README.md
Labels: 🎨 Front-end, 📝 docs
